<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangwh.mapper.extmapper.MenuExtMapper">
    <resultMap id="BaseResultMap" type="com.tangwh.pojo.Menu">
        <!--@mbg.generated-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="component" jdbcType="VARCHAR" property="component"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="iconCls" jdbcType="VARCHAR" property="iconCls"/>

        <result column="parentId" jdbcType="INTEGER" property="parentId"/>
        <result column="enabled" jdbcType="BIT" property="enabled"/>
        <association property="meta" javaType="Meta">
            <result column="keepAlive" jdbcType="BIT" property="keepAlive"/>
            <result column="requireAuth" jdbcType="BIT" property="requireAuth"/>
        </association>
    </resultMap>
    <resultMap id="Menus2" type="Menu" extends="BaseResultMap">
        <!--        一对多-->
        <collection property="children" ofType="Menu">
            <!--@mbg.generated-->
            <id column="id2" jdbcType="INTEGER" property="id"/>
            <result column="url2" jdbcType="VARCHAR" property="url"/>
            <result column="path2" jdbcType="VARCHAR" property="path"/>
            <result column="component2" jdbcType="VARCHAR" property="component"/>
            <result column="name2" jdbcType="VARCHAR" property="name"/>
            <result column="iconCls2" jdbcType="VARCHAR" property="iconCls"/>

            <result column="parentId2" jdbcType="INTEGER" property="parentId"/>
            <result column="enabled2" jdbcType="BIT" property="enabled"/>
            <association property="meta" javaType="Meta">
                <result column="keepAlive2" jdbcType="BIT" property="keepAlive"/>
                <result column="requireAuth2" jdbcType="BIT" property="keepAlive"/>
            </association>

        </collection>
    </resultMap>
    <!--    一对多 映射-->
    <resultMap id="MenuWithRole" type="Menu" extends="BaseResultMap">

        <collection property="roles" ofType="Role">
            <id column="rid" property="id"/>
            <result column="rname" property="name"/>
            <result column="rnameZh" property="nameZh"/>
        </collection>
    </resultMap>
    <resultMap id="MenuWithChildren" type="Menu" extends="BaseResultMap">

        <id column="id1" property="id"/>
        <result column="name1" property="name"/>
        <collection property="children" ofType="Menu">
            <id column="id2" property="id"/>
             <result column="name2" property="name"/>
            <collection property="children" ofType="Menu">
                <id column="id3" property="id"/>
                <result column="name3" property="name"/>
            </collection>

        </collection>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, url, `path`, component, `name`, iconCls, keepAlive, requireAuth, parentId, enabled
    </sql>
<!--    根据登录用户的ID 来动态获取菜单项数据-->
    <select id="getMenusByHrId" resultMap="Menus2">

     SELECT DISTINCT m1.* ,m2.`id` AS id2 , m2.`component` AS  component2,
      m2.`enabled` AS enabled2 ,m2.`iconCls` AS iconCls2 ,
       m2.`keepAlive` AS keepAlive2,m2.`name` AS name2 ,
         m2.`parentId` AS parentId2,m2.`requireAuth` AS requireAuth2,
        m2.`path` AS path2
            FROM menu m1,menu m2,hr_role hrr ,menu_role mr
            WHERE m1.id=m2.parentId AND hrr.hrid=#{hrid}
            AND hrr.rid=mr.rid AND mr.mid=m2.id AND m2.enabled =  TRUE
          ORDER BY m1.id,m2.id;

    </select>
    <select id="getAllMenusWithRole" resultMap="MenuWithRole">
         SELECT m.* , r.`id` AS rid, r.`name` AS rname,r.`nameZh`AS rnameZh  FROM menu m,menu_role mr, `role` r
        WHERE m.`id` = mr.`mid` AND mr.`rid` = r.`id`
             ORDER BY m.`id`

    </select>
    <select id="getAllMenus" resultMap="MenuWithChildren">
          SELECT m1.`id` AS id1 ,m1.`name` AS name1  ,m2.`id` AS id2 ,m2.`name` AS name2,m3.`id` AS id3 ,m3.`name` AS name3
      FROM menu m1,menu m2,menu m3
         WHERE m1.`id` = m2.`parentId`
        AND m2.`id` = m3.`parentId`
           AND m3.`enabled`=TRUE
         ORDER BY m1.`id`,m2.`id`,m3.`id`


    </select>

    <select id="getMidsByRid" resultType="java.lang.Integer">
     select mid from menu_role where rid=#{rid}

    </select>
</mapper>