<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangwh.mapper.EmployeeecMapper">
  <resultMap id="BaseResultMap" type="com.tangwh.pojo.Employeeec">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="eid" jdbcType="INTEGER" property="eid" />
    <result column="ecDate" jdbcType="DATE" property="ecDate" />
    <result column="ecReason" jdbcType="VARCHAR" property="ecReason" />
    <result column="ecPoint" jdbcType="INTEGER" property="ecPoint" />
    <result column="ecType" jdbcType="INTEGER" property="ecType" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, eid, ecDate, ecReason, ecPoint, ecType, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from employeeec
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from employeeec
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.tangwh.pojo.Employeeec" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into employeeec (eid, ecDate, ecReason, 
      ecPoint, ecType, remark
      )
    values (#{eid,jdbcType=INTEGER}, #{ecDate,jdbcType=DATE}, #{ecReason,jdbcType=VARCHAR}, 
      #{ecPoint,jdbcType=INTEGER}, #{ecType,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.tangwh.pojo.Employeeec" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into employeeec
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="eid != null">
        eid,
      </if>
      <if test="ecDate != null">
        ecDate,
      </if>
      <if test="ecReason != null">
        ecReason,
      </if>
      <if test="ecPoint != null">
        ecPoint,
      </if>
      <if test="ecType != null">
        ecType,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="eid != null">
        #{eid,jdbcType=INTEGER},
      </if>
      <if test="ecDate != null">
        #{ecDate,jdbcType=DATE},
      </if>
      <if test="ecReason != null">
        #{ecReason,jdbcType=VARCHAR},
      </if>
      <if test="ecPoint != null">
        #{ecPoint,jdbcType=INTEGER},
      </if>
      <if test="ecType != null">
        #{ecType,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tangwh.pojo.Employeeec">
    <!--@mbg.generated-->
    update employeeec
    <set>
      <if test="eid != null">
        eid = #{eid,jdbcType=INTEGER},
      </if>
      <if test="ecDate != null">
        ecDate = #{ecDate,jdbcType=DATE},
      </if>
      <if test="ecReason != null">
        ecReason = #{ecReason,jdbcType=VARCHAR},
      </if>
      <if test="ecPoint != null">
        ecPoint = #{ecPoint,jdbcType=INTEGER},
      </if>
      <if test="ecType != null">
        ecType = #{ecType,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tangwh.pojo.Employeeec">
    <!--@mbg.generated-->
    update employeeec
    set eid = #{eid,jdbcType=INTEGER},
      ecDate = #{ecDate,jdbcType=DATE},
      ecReason = #{ecReason,jdbcType=VARCHAR},
      ecPoint = #{ecPoint,jdbcType=INTEGER},
      ecType = #{ecType,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>